name: Claude Issue Triage
description: Run Claude Code for issue triage in GitHub Actions
on:
  workflow_dispatch: {}
jobs:
  triage-issue:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      issues: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Run Claude Code for Issue Triage
      uses: anthropics/claude-code-action@main
      with:
        prompt: '/label-issue REPO: ${{ github.repository }} ISSUE_NUMBER${{ github.event.issue.number
          }}'
        anthropic_api_key: ${{ secrets.ANTHROPIC_API_KEY }}
        allowed_non_write_users: '*'
        github_token: ${{ secrets.GITHUB_TOKEN }}
